{% extends "base.html" %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/static/images/coffee_shop.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Coffee Shop Rating Site</h1>
            <p class="lead">CSRW is a website where you can find and rate coffee shops</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <div class="container">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        {{ form.country_id(class="form-select") }}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0 ps-2">
                                        {{ form.province_id(class="form-select") }}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0 ps-2">
                                        {{ form.region_id(class="form-select") }}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0 ps-2">
                                        {% if form.region_id.choices | length > 1 %}
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-secondary">Forward</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
