{% extends "base.html" %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-lg-6">
            <form method="POST" class="p-5">
                <h1 class="h3 mb-3 fw-normal">Register</h1>
                {{ form.hidden_tag() }}

                {{ form.username.label(class="form-label mt-2") }}
                {{ form.username(class="form-control") }}

                {{ form.password.label(class="form-label mt-2") }}
                {{ form.password(class="form-control") }}

                {{ form.email.label(class="form-label mt-2") }}
                {{ form.email(class="form-control") }}

                {{ form.role.label(class="form-label mt-2") }}
                {{ form.role(class="form-control") }}

                <div class="mt-4">
                    {{ form.terms(class="form-check-input") }}
                    {{ form.terms.label(class="form-check-label") }}
                    <a href="">terms of service</a>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                {% if form_state == 1 %}
                    <p style="color: red;" class="mt-2">Username or Email exists</p>
                {% endif %}
            </form>
        </div>
        <div class="col-lg-6">
            <img src="/static/images/anime_coffee_Shop.jpg" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}

